*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(imgs/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    font-family: sans-serif;
}
.card{
    background-color: #000000ad;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid #d6d6d6;
    color: #d6d6d6;
}
.inputc{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #ffffffa6;
    color: #000;
    font-size: 18px;
}
button{
    border: none;
    outline: none;
    padding: 10px;
    border: 50px;
    background-color: #ffffffa6;
    border-radius: 20px;
    cursor: pointer;
}
.img-busca{
    width: 17px;
}